// Neutral
$Dark-Blue: hsl(209, 23%, 22%);
$Very-Dark-Blue: hsl(207, 26%, 17%);
$Very-Dark-Blue-Text: hsl(200, 15%, 8%);
$Dark-Gray: hsl(0, 0%, 52%);
$Very-Ligh-Gray: hsl(0, 0%, 98%);
$White: hsl(0, 0%, 100%);

// Light mode variables
$color-elements: $White;
$color-text: $Very-Dark-Blue-Text;
$color-background: $Very-Light-Gray;
$color-input: $Dark-Gray;
// Dark mode variables
.dark-mode {
	$color-elements: $Dark-Blue;
  $color-text: $White;
	$color-background: $Very-Dark-Blue;
}
