@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

body * {
  font-family: 'Nunito Sans', sans-serif;
  color: var(--text);
  transition: color 300ms;
}

/*
Homepage Items: 14px
Detail Page: 16px
*/